.profile__name {
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding: 0 18px 16px 0;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 915px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    max-width: 189px;
  }
}
  
@media screen and (max-width: 620px) {
  .profile__name {
    padding-right: 10px;
    padding-top: 26px;
  }
}